@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar {
  width: 9px; /* width of the entire scrollbar */
  height: 9px;
}

*::-webkit-scrollbar-track {
  background: #f8f8f8; /* color of the tracking area */
  border-radius: 9px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e3e3e3; /* color of the scroll thumb */
  border-radius: 9px; /* roundness of the scroll thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #cdcdcd;
}
